PORT=8787
NUCLEUS_URL=https://studiolaser.nucleusapp.com.br
NUCLEUS_ORDERS_URL=https://studiolaser.nucleusapp.com.br/ordem_servico?utf8=%E2%9C%93&chave=&os_id=&work_order_id=&company_id=&date_de=&date_ate=&cod_produto=&id_terceiro=&tipo=&classificacao=&situacao=&tecnologia=&material=&espessura=&nivel_dificuldade=&user_id=7012&finalizado=&cod_barras=&local_gravacao_id=&calculo_z=&financial_system_code=&commit=Filtrar
NUCLEUS_MAX_PAGES=10000
CORS_ORIGIN=http://localhost:3000
